<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chase Edward Stanley</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="icon" href="static/favicon.ico">
  </head>

  <body>
   <img class="ground" src="static/Asset 3.svg">
    <div class="header">
      <img  class="name" src="static/My_Name_Happy_Creature.svg">
    </div>
    <div class="parallax_wrapper">
      <div class="parallax_group">
        <div class="parallax_cloud_1"><img class="cloud_2" src="static/Cloud_Cartoon_3.svg"></div>
        <div class="sun_gif"><img class="sun" src="https://media1.giphy.com/media/eGmgF0V90QIgpMv4WQ/200.webp?cid=ecf05e47u5ofm9w3z6daqxh06e961isa3byn34ivtscq5yvg&rid=200.webp&ct=s"></div>
        <div class="parallax_cloud_2"><img class="cloud_3" src="static/Cloud_Cartoon_3.svg"></div>
        <div class="parallax_pigeon_1"><img class="pigeon_1" src="static/Birds_Pigeon_1.svg"></div>
        <div class="parallax_cloud_4"><img class="cloud_5" src="static/Cloud_Cartoon_3.svg"></div>
        <div class="parallax_cloud_5"><img class="cloud_6" src="static/Cloud_Cartoon_3.svg"></div>
        <div class="houses">
        <table>
          <tr>

            <td><img class="roundhouse" src="static/RoundHouse.svg"></td>
            <td><img  src="static/Tree1.svg"></td>
            <td><img class="squarehouse" src="static/SquareHouse.svg"></td>
            <td><img  src="static/Tree1.svg"></td>
             <td><img  src="static/Tree 2.svg"></td>
            <td><img class="overlymodernhouse" src="static/OverlyModernHouse.svg"></td>
            <td><img  src="static/Tree 2.svg"></td>
            <td><img class="hotel" src="static/Hotel.svg"></td>
            <td><img  src="static/Tree1.svg"></td>
            <td><img class="school" src="static/School.svg"></td>
            <td><img  src="static/Tree 2.svg"></td>
          </tr>
        </table>
      </div>


      <div class="background">

      </div>

  </body>
</html>